body
{
	display:flex;
	flex-wrap:wrap;
	font-family: 'Roboto Slab', serif;
	background-color:#93A29C;
}

header, nav, #content, footer
{
	width:100%;
	text-align:center;
	min-width:650px;
}

header
{
	height:80px;	
	line-height:0px;
	background-color:#93A29C;
}

h1
{
	color:#2E3C36;
	text-shadow:4px 5px #879690;
	font-size:60px;
	font-family: 'Luckiest Guy', cursive;
	letter-spacing:8px;
}

nav
{
	height:50px;
}

ul
{
	display:flex;
	list-style:none;
	padding:0px;
	margin:0px;
	line-height:50px;
}

ul>li
{
	width:16.66%;
	border-left:1px dotted gray;
	transition: all 0.4s;
	background-color:#4A5C54;
	font-size:20px;
}	

ul>li:hover
{
	background-color:#65776F;
	cursor:pointer;
}

i
{
	color:white;
	padding-right:10px;
}
#content
{
	display:flex;
	flex-wrap:wrap;
	height:1000px;
	background-color:#879690;
	box-sizing:border-box;
}

h3
{
	font-size:30px;
	padding-bottom:40px;
	margin:0px;
}


aside
{
	width:15%;
	text-align:center;
	background-color:#93A29C;
	
	
}

ol
{
	display:flex;
	list-style:none;
	flex-wrap:wrap;
	margin:0px;
	padding:0px;
	
}


ol>li
{
	width:100%;
	background-color:#2E3C36;
	line-height:40px;
	transition: all 0.4s;
	border-bottom:1px dotted gray;
}

ol>li:hover
{
	background-color:#65776F;
	cursor:pointer;
}

section
{
	width:80%;
	text-align:center;
	box-sizing:border-box;
	padding:50px;
}

.img
{
	margin-left:auto;
	margin-right:auto;
	width:80%;
	margin-bottom:30px;
	overflow:hidden;
	
}

.art
{
	text-align:justify;
	font-size:16px;
	line-height:20px;
	text-indent: 30px;
}


img
{
	width:100%;
	height:100%;
	transition:all 1s;
	overflow:hidden;
}

img:hover
{
	transform:scale(1.2);
}

footer
{
	height:30px;
	background-color:#2E3C36;
	color:#93A29C;
	text-align:center;
}

footer > p
{
	position:relative;
	bottom:10px;
}

p > i
{
	padding-left:5px;
}



@media screen and (max-width: 1100px) 
{
   ul>li
   {
	   font-size:15px;
   }
}

@media screen and (max-width: 900px) 
{
   ul>li
   {
	   font-size:12px;
   }
   
   ol>li
   {
	   font-size:12px;
   }
   
   .art
   {
	   font-size:12px;
	   line-height:14px;
   }
   
   footer
   {
	   font-size:12px;
   }
   
   footer > p
{
	position:relative;
	bottom:5px;
}

}